.checker-box {
  width: 200px;
  height: 50px;

  background-color: #000000;
  background-image:
    linear-gradient(45deg, rgb(255, 0, 0) 25%, transparent 25%),
    linear-gradient(-45deg, rgb(255, 0, 0) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgb(255, 5, 5) 75%),
    linear-gradient(-45deg, transparent 75%, rgb(255, 0, 0) 75%);
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0;

  animation: checkerMove 40s linear infinite;

  box-shadow:
    0 0 8px rgb(255, 0, 0),
    inset 0 0 10px rgb(255, 0, 0);

  border: 1px solid rgb(255, 0, 0);
}
