html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #000;
  background-image:
    linear-gradient(0deg, rgba(255, 0, 0, 0.25) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 0, 0, 0.25) 1px, transparent 1px);
  background-size: 100px 100px;
  animation: gridMove 14s linear infinite;
}

@keyframes gridMove {
  from { background-position: 0 0; }
  to { background-position: -320px 320px; }
}

.menu-container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 400px;
  pointer-events: none;
}

.menu-left,
.menu-right {
  display: flex;
  flex-direction: column;
  gap: 100px;
  pointer-events: auto;
}

.menu-button {
  width: 220px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e6e6e6;
  font-family: bahnschrift, Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(10, 10, 15, 0.85);
  border: 1px solid rgba(255, 0, 0, 0.25);
  box-shadow:
    0 0 8px rgba(255, 0, 0, 0.35),
    inset 0 0 0 1px rgba(0, 0, 0, 0.9);
  cursor: pointer;
  transition: all 0.15s ease;
}

.menu-button:hover {
  border-color: rgba(255, 80, 80, 0.6);
  box-shadow:
    0 0 12px rgba(255, 0, 0, 0.6),
    inset 0 0 0 1px rgba(0, 0, 0, 0.9);
  color: #ffffff;
}

.top-username {
  position: fixed;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;

  width: 260px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Bahnschrift, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #e6e6e6;

  background: rgba(10, 10, 15, 0.85);
  border: 1px solid rgba(255, 0, 0, 0.25);

  box-shadow:
    0 0 8px rgb(255, 0, 0, 0.6),
    inset 0 0 0 1px rgba(0, 0, 0, 0.9);

  white-space: nowrap;
  overflow: hidden;
}

#character-container {
  position: fixed;
  left: 48.5%;
  top: 61.5%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 5;
}

#character {
  width: 1200px;
  height: auto;

  filter:
    drop-shadow(0px 25px 35px rgba(0, 0, 0, 0.6))
    drop-shadow(0px 0px 25px rgb(74 0 0 / 25%));

  transition: transform 0.15s ease-out;
}
