* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #000;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
    min-height: 100vh;
    color: #fff;
    overflow: hidden;
}

h1 {
    font-size: 4em;
    margin-top: 20vh;
    color: #ff3366;
    text-shadow: 0 0 8px #990000;
}

p {
    font-size: 1.5em;
    color: #ff6666;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -2;
    background-image:
        repeating-linear-gradient(to bottom, #bb0000 0px, #bb0000 1px, transparent 1px, transparent 100px),
        repeating-linear-gradient(to right, #bb0000 0px, #bb0000 1px, transparent 1px, transparent 100px);
    background-size: 100px 100px;
    background-repeat: repeat;
    animation: gridMove 60s linear infinite;
    opacity: 0.5;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    background-image:
        repeating-linear-gradient(to bottom, #bb0000 0px, #bb0000 3px, transparent 3px, transparent 100px),
        repeating-linear-gradient(to right, #bb0000 0px, #bb0000 3px, transparent 3px, transparent 100px);
    background-size: 100px 100px;
    background-repeat: repeat;
    animation: gridMove 60s linear infinite;
    filter: blur(4px);
    opacity: 0.15;
}

@keyframes gridMove {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100px 100px;
    }
}