body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "AnonymousPro", monospace;
  background-color: #1b0f0e;
  position: relative;
  overflow: hidden;
  color: #ff4c4c;

  background-image:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="2"><rect width="2" height="2" fill="%231b0f0e"/><circle cx="1" cy="1" r="1" fill="%23120b0a"/></svg>');
  background-size: 50px 50px;
  animation: moveNoise 10s linear infinite;
  
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.01);
}

@keyframes moveNoise {
  0% { background-position: 0 0; }
  100% { background-position: 200px 200px; }
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,0.02) 0px,
    rgba(255,255,255,0.02) 1px,
    transparent 1px,
    transparent 3px
  );
  pointer-events: none;
  z-index: 2;
  mix-blend-mode: overlay;
}

.page-content {
  text-align: center;
  margin-top: 15vh;
  z-index: 3;
  position: relative;
}

#hostage {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 50vw;
  height: auto;
  pointer-events: none;
  image-rendering: pixelated;
  z-index: 4;
  opacity: 0.9;
}
